.App {
  text-align: center;
}

@keyframes enterAnimation1 {
  0% {
    transform: translateX(-50px);
    opacity: 0.3;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes enterAnimation2 {
  0% {
    transform: translateY(-50px);
    opacity: 0.3;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes enterAnimation3 {
  0% {
    transform: translateY(50px);
    opacity: 0.3;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes enterAnimation4 {
  0% {
    transform: translateX(50px);
    opacity: 0.3;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.grid_child_1 {
  animation: enterAnimation1 2s ease;
}

.grid_child_2 {
  animation: enterAnimation2 2s ease;
}

.grid_child_3 {
  animation: enterAnimation3 2s ease;
}

.grid_child_4 {
  animation: enterAnimation4 2s ease;
}

@media (width < 500px) {
  .grid_child_2 {
    animation: enterAnimation4 2s ease;
  }
  
  .grid_child_3 {
    animation: enterAnimation1 2s ease;
  }
}


@keyframes modalAnimation {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.modal_popup {
  animation: modalAnimation 0.5s ease;
}